.App {
  text-align: center;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 200px;
}

.btn--primary {
  background-color: #fff;
  color: rgb(33, 31, 46);
  border: 1px solid rgb(33, 31, 46);
  box-shadow: inset 0 0 0 0 rgb(33, 31, 46);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn--secondary {
  background-color: rgb(33, 31, 46);
  color: #fff;
  padding: 8px 20px;
  border: 1px solid rgb(33, 31, 46);
  transition: all 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
  cursor: pointer;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: rgb(33, 31, 46);
  transition: 500ms;
  cursor: pointer;
}

.btn--primary:hover {
  transition: all 0.4s ease-out;
  box-shadow: inset 300px 0 0 0 rgb(33, 31, 46);
  color: #fff;
  transition: 1000ms;
}

.btn--secondary:hover {
  transition: all 0.4s ease-out;
  background-color: #fff;
  color: rgb(33, 31, 46);
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.btn--outline {
  margin-top: 0.5em;
  background-color: #fff;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  color: rgb(33, 31, 46);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

.btn--outline:hover{
  background: rgb(33, 31, 46);
  box-shadow: 0 0 10px rgb(33, 31, 46), 0 0 20px rgb(33, 31, 46), 0 0 20px rgb(33, 31, 46);
  transition-delay: 1s;
  color: #fff;
  cursor: pointer;
}

.btn--outline:focus {
  background: rgb(33, 31, 46);
  box-shadow: none;
  cursor: pointer;
  border: 0;
}


.btn--outline span {
  position: absolute;
  display: block;
}

.btn--outline span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(33, 31, 46));
}

.btn--outline:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
}

.btn--outline span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(33, 31, 46));
}

.btn--outline:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn--outline span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(7,10,78));
}

.btn--outline:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.btn--outline span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(7,10,78));
}

.btn--outline:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}

.btn--outline--dark {
  margin-top: 0.5em;
  background-color: rgb(33, 31, 46);
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  border: 1px solid #fff;
}

.btn--outline--dark:hover{
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
  transition-delay: 1s;
  color: rgb(7,10,78);
  cursor: pointer;
  border: 1px solid #fff;
}

.btn--outline--dark:focus {
  background: #fff;
  color: rgb(7,10,78);
  box-shadow: none;
  cursor: pointer;
  border: 0;
}


.btn--outline--dark span {
  position: absolute;
  display: block;
}

.btn--outline--dark span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
}

.btn--outline--dark:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
}

.btn--outline--dark span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
}

.btn--outline--dark:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn--outline--dark span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
}

.btn--outline--dark:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.btn--outline--dark span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
}

.btn--outline--dark:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}

.btn--three {
  background-color: rgb(33, 31, 46);
  color: #fff;
  padding: 1em 2.5em;
  border: 1px solid rgb(33, 31, 46);
  transition: all 0.5s ease-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn--three:hover {
  background-color: #fff;
  color: rgb(33, 31, 46);
  border: 1px solid #fff;
  cursor: pointer;
  border: 1px solid rgb(33, 31, 46);
}

.btn--four {
  background-color: #fff;
  color: rgb(33, 31, 46);
  border: 1px solid #fff;
  box-shadow: inset 0 0 0 0 rgb(33, 31, 46);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn--four:hover{
  background-color: rgb(33, 31, 46);
  color: #fff;
  transition: 400ms;
  border: 1px solid #fff;
}