.squadHead{
    display: flex;
    justify-content: space-between;
}

.playerHead{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.bidBox {
    background: rgb(33, 31, 46);
    border-radius: 12px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion-button  {
    text-transform: uppercase;
    font-weight: 600;
}
